language: go

go:
  - 1.11.x
  - tip

before_install:
  - go get -t -v ./...

script:
  - go test -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  slack:
    secure: KGEU51hD1YtQ3hMe8ueDWZgxEA/VglqvVgXZxzRAPbY0smPCRFzZs7T1KSVQ4wQ/zfeSpB9TozCm0Wp7cl2gBl4AdA939TRH/uFMQTZCX2xy+MJ1E/F3sNatScvwTc7L4Q37xa3UbeHe7JvKe0wj3kbHYYir5QpzxJIaBBTSXnWztGkK8tBJxWjuq3Q81wkTy+S/i1TCzk7z6CS0nBFAJPgcCYByIL5m7Kz2esUaY9/CbYDVB3Pe5sGb0zL8KOh2AMbjpsuymCAagPzSfB1tBaz/1+13IBbtMsFbbjPeAhj6zmIGx9ZdHyQT7ze7cKtOuMj0l3+YKLFcW6S15GLfFrlOT1lPudL+vYvBnJXOyHzkODYqL5dD9u4zq0zq67PnnvNZI/F5AC8eZWZ38z0H2oHLrdqrF96qPaAOyz4ikikNBodTIpq0ci0YwlmWcQd7BbkuYq0K0hRlZfClQbMiTdE4XDBJDMnXn4voXsLN5xFsXMqTw1kkkLf7qfGlqR3VHGimE4IC99b/Pybun/oamZxol8p7F82j8HmHJHUdQ/OfkNPL3WNKgI0MTH/wkK0ZobzU1kOJ1xMrqvDQjcKPKk7Yr/jvTEZimf1erm8xgBpl6kHY7rm8Olpt6AF7qZM8gRL8RltHAUMq/tFyw3oSAY1ID9KSZgIy9IoTiJi08J0=
